In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
%matplotlib inline

In [2]:
def to_float_from_str_decimal(string):
    """ It convert '12,5' to 12.5 """
    try:
        return float(string.replace(',', '.'))
    except:
        return float(string.replace('.','')[:-3])
    
to_float_from_str_decimal('1.900,00')

1900.0

In [3]:
First_GranDataFrame = pd.read_csv('../TFM/First_GranDataframe.csv')

In [4]:
pd.options.display.max_columns=None
First_GDF = First_GranDataFrame.drop('Unnamed: 0', axis=1)
First_GDF.head()

,Código municipio,Municipio,2009_1,2009_2,2009_3,2009_4,2010_5,2009_6,2009_7,2009_8,2009_9,2009_10,2009_11,2009_12,2011_13,2009_14,2009_15,2009_16,2009_17,2001_18,2009_19,2009_20,2009_21,2005_22,2005_23,2009_24,2009_25,2005_26,2011_27,2009_28,2009_29,2009_30,2009_31,2009_32,2012,2009_34,2009_35,2009_36,2009_37,2009_38,2009_39,2009_40,2009_41,2009_42,2009_43,2010_44,2010_45,2010_46,2011_47,2009_48,2009_48.1,2011_50,2009_51,2009_52,2009_53,2009_54,2005_55,2005,2006_57,2009_58,2009_59,2009_60,2009_61,2006_62,2007,2009_64,2001_65,2010,2009,2011_partic,estado_animo,satisfaccion_ocio,valor_vida,satisfaccion_vida
0,48001,Abadiño,43.75,"8,65","0,00","185,36","33,40","0,00","4,55","0,00","2,00","96,44","0,00","6,04","145,52","11,71","7,30","201,11","43,75","88,98","23,68","2,74","2,75","212,71","44,28","100,00","3,41","43,85","73,80","49,69","46,73","13,71","16,76","19,97","4,83","63,27","6,06","13,95","289,99","10,94","289,99","0,73","20,38","9,44","0,00","19,51","56,11","16,89","94,05","4,16","7.260,00","66,02","0,55","185,36","4,55","2,41","1,16","55,01","90,64","8,75","10,40","12,90","6,04","0,88","12,94","5,86","11,24","7,60","8,50",2,1,2,2,1
1,20001,Abaltzisketa,25.00,"0,00","0,00","269,94","37,60","0,00","0,00","0,00","3,00","96,71","0,00","3,12","154,65","0,00","0,00","28,21","25,00","100,00","32,14","0,00","0,00","261,93","49,18","0,00","7,69","52,75","71,60","43,61","69,89","18,35","16,67","4,17","35,00","79,17","15,82","18,67","585,88","0,00","585,88","0,90","12,27","0,00","0,00","14,75","43,53","11,51","100,00","1,90","316,00","74,44","0,00","269,94","9,49","0,26","0,18","50,36","110,75","103,45","92,02","18,69","3,12","6,53","10,73","20,61","31,40","22,98","14,93",2,2,1,1,2
2,48002,Abanto y Ciérvana-Abanto Zierbena,30.77,"9,60","0,00","250,51","37,00","0,00","2,63","9,77","3,00","98,08","0,00","0,41","184,19","9,12","4,56","595,49","30,77","94,70","23,48","3,09","3,11","480,39","92,71","88,17","3,40","42,44","67,20","47,90","51,52","15,68","21,74","13,04","2,39","65,22","6,22","13,99","240,10","7,20","240,10","0,76","4,52","0,00","61,39","20,98","55,96","16,29","84,89","1,63","9.647,00","80,36","1,34","250,51","0,00","10,19","2,16","38,46","76,86","8,60","14,60","9,29","0,41","0,82","8,60","8,15","10,63","21,09","18,13",2,1,2,2,1
3,20002,Aduna,80.00,"36,14","0,00","326,34","23,40","46,62","17,99","0,00","1,00","96,71","0,00","-2,41","294,39","2,49","4,99","57,29","80,00","100,00","32,30","0,00","0,00","301,70","39,12","0,00","5,00","52,75","66,10","91,57","55,43","14,46","16,53","26,45","6,56","57,02","17,46","19,20","-900,80","0,00","-900,80","1,79","9,32","0,00","0,00","16,31","53,21","17,38","100,00","2,99","401,00","81,70","2,33","326,34","17,46","4,54","3,71","66,71","108,36","5,03","37,30","12,05","-2,41","1,59","8,34","29,35","14,69","8,29","24,10",1,2,1,1,2
4,20016,Aia,33.33,"15,63","0,00","114,60","28,50","0,00","5,03","4,98","3,00","98,90","27,75","4,03","156,28","3,06","3,06","34,96","33,33","98,11","38,45","4,98","5,11","331,52","64,61","83,33","4,82","28,60","73,40","43,87","59,58","15,63","21,78","26,22","32,07","52,00","16,85","17,06","219,79","4,98","219,79","0,72","365,22","0,00","59,41","13,06","51,44","16,77","100,00","4,90","1.958,00","75,42","0,50","114,60","10,73","0,79","0,73","51,96","109,75","4,49","9,97","15,63","4,03","3,98","20,39","17,74","17,67","11,07","14,97",2,2,1,1,2

In [5]:
First_GDF_Labels = First_GDF[['2011_partic', 'estado_animo', 'satisfaccion_ocio', 'valor_vida'
                             , 'satisfaccion_vida']]

In [6]:
Unique_Label_GDF = First_GDF_Labels[['2011_partic']]

In [19]:
Unique_Label_GDF_estado = First_GDF_Labels[['estado_animo']]

In [24]:
Unique_Label_GDF_ocio = First_GDF_Labels[['satisfaccion_ocio']]

In [29]:
Unique_Label_GDF_valorvida = First_GDF_Labels[['valor_vida']]

In [7]:
First_GDF_Labels.dtypes

2011_partic          int64
estado_animo         int64
satisfaccion_ocio    int64
valor_vida           int64
satisfaccion_vida    int64
dtype: object

In [8]:
F_GDF = pd.read_csv('../TFM/GranDataframe_predictors.csv',
                   converters={'2009_2': to_float_from_str_decimal,
                                             '2009_3': to_float_from_str_decimal,
                                             '2009_4': to_float_from_str_decimal,
                                             '2010_5': to_float_from_str_decimal,
                                             '2009_6': to_float_from_str_decimal,
                                             '2009_7': to_float_from_str_decimal,
                                             '2009_8': to_float_from_str_decimal,
                                             '2009_9': to_float_from_str_decimal,
                                             '2009_10': to_float_from_str_decimal,
                                             '2009_11': to_float_from_str_decimal,
                                             '2009_12': to_float_from_str_decimal,
                                             '2011_13': to_float_from_str_decimal,
                                             '2009_14': to_float_from_str_decimal,
                                             '2009_15': to_float_from_str_decimal,
                                             '2009_16': to_float_from_str_decimal,
                                              '2009_17': to_float_from_str_decimal,
                                             '2001_18': to_float_from_str_decimal,
                                             '2009_19': to_float_from_str_decimal,
                                             '2009_20': to_float_from_str_decimal,
                                             '2009_21': to_float_from_str_decimal,
                                             '2005_22': to_float_from_str_decimal,
                                             '2005_23': to_float_from_str_decimal,
                                             '2009_24': to_float_from_str_decimal,
                                             '2009_25': to_float_from_str_decimal,
                                             '2005_26': to_float_from_str_decimal,
                                             '2011_27': to_float_from_str_decimal,
                                             '2009_28': to_float_from_str_decimal,
                                             '2009_29': to_float_from_str_decimal,
                                             '2009_30': to_float_from_str_decimal,
                                             '2009_31': to_float_from_str_decimal,
                                             '2009_32': to_float_from_str_decimal,
                                             '2012': to_float_from_str_decimal,
                                             '2009_34': to_float_from_str_decimal,
                                             '2009_35': to_float_from_str_decimal,
                                             '2009_36': to_float_from_str_decimal,
                                             '2009_37': to_float_from_str_decimal,
                                             '2009_38': to_float_from_str_decimal,
                                             '2009_39': to_float_from_str_decimal,
                                             '2009_40': to_float_from_str_decimal,
                                             '2009_41': to_float_from_str_decimal,
                                             '2009_42': to_float_from_str_decimal,
                                             '2009_43': to_float_from_str_decimal,
                                             '2010_44': to_float_from_str_decimal,
                                             '2010_45': to_float_from_str_decimal,
                                             '2010_46': to_float_from_str_decimal,
                                             '2011_47': to_float_from_str_decimal,
                                             '2009_48': to_float_from_str_decimal,
                                             '2009_48.1': to_float_from_str_decimal,
                                             '2011_50': to_float_from_str_decimal,
                                             '2009_51': to_float_from_str_decimal,
                                             '2009_52': to_float_from_str_decimal,
                                             '2009_53': to_float_from_str_decimal,
                                             '2009_54': to_float_from_str_decimal,
                                             '2005_55': to_float_from_str_decimal,
                                             '2005': to_float_from_str_decimal,
                                             '2006_57': to_float_from_str_decimal,
                                             '2009_58': to_float_from_str_decimal,
                                             '2009_59': to_float_from_str_decimal,
                                             '2009_60': to_float_from_str_decimal,
                                             '2009_61': to_float_from_str_decimal,
                                             '2006_62': to_float_from_str_decimal,
                                             '2007': to_float_from_str_decimal,
                                             '2009_64': to_float_from_str_decimal,
                                             '2001_65': to_float_from_str_decimal,
                                             '2010': to_float_from_str_decimal,
                                             '2009': to_float_from_str_decimal,})
F_GDF_1 = F_GDF.drop('Unnamed: 0', axis=1)
F_GDF_2 = F_GDF_1.drop('Municipio', axis=1)
F_GDF_3 = F_GDF_2.drop('Código municipio', axis=1)
First_GDF_Predictors = F_GDF_3
First_GDF_Predictors.head(9)

,2009_1,2009_2,2009_3,2009_4,2010_5,2009_6,2009_7,2009_8,2009_9,2009_10,2009_11,2009_12,2011_13,2009_14,2009_15,2009_16,2009_17,2001_18,2009_19,2009_20,2009_21,2005_22,2005_23,2009_24,2009_25,2005_26,2011_27,2009_28,2009_29,2009_30,2009_31,2009_32,2012,2009_34,2009_35,2009_36,2009_37,2009_38,2009_39,2009_40,2009_41,2009_42,2009_43,2010_44,2010_45,2010_46,2011_47,2009_48,2009_48.1,2011_50,2009_51,2009_52,2009_53,2009_54,2005_55,2005,2006_57,2009_58,2009_59,2009_60,2009_61,2006_62,2007,2009_64,2001_65,2010,2009
0,43.75,8.65,0.0,185.36,33.4,0.00,4.55,0.00,2.0,96.44,0.00,6.04,145.52,11.71,7.30,201.11,43.75,88.98,23.68,2.74,2.75,212.71,44.28,100.00,3.41,43.85,73.8,49.69,46.73,13.71,16.76,19.97,4.83,63.27,6.06,13.95,289.99,10.94,289.99,0.73,20.38,9.44,0.00,19.51,56.11,16.89,94.05,4.16,7260.0,66.02,0.55,185.36,4.55,2.41,1.16,55.01,90.64,8.75,10.40,12.90,6.04,0.88,12.94,5.86,11.24,7.60,8.50
1,25.00,0.00,0.0,269.94,37.6,0.00,0.00,0.00,3.0,96.71,0.00,3.12,154.65,0.00,0.00,28.21,25.00,100.00,32.14,0.00,0.00,261.93,49.18,0.00,7.69,52.75,71.6,43.61,69.89,18.35,16.67,4.17,35.00,79.17,15.82,18.67,585.88,0.00,585.88,0.90,12.27,0.00,0.00,14.75,43.53,11.51,100.00,1.90,316.0,74.44,0.00,269.94,9.49,0.26,0.18,50.36,110.75,103.45,92.02,18.69,3.12,6.53,10.73,20.61,31.40,22.98,14.93
2,30.77,9.60,0.0,250.51,37.0,0.00,2.63,9.77,3.0,98.08,0.00,0.41,184.19,9.12,4.56,595.49,30.77,94.70,23.48,3.09,3.11,480.39,92.71,88.17,3.40,42.44,67.2,47.90,51.52,15.68,21.74,13.04,2.39,65.22,6.22,13.99,240.10,7.20,240.10,0.76,4.52,0.00,61.39,20.98,55.96,16.29,84.89,1.63,9647.0,80.36,1.34,250.51,0.00,10.19,2.16,38.46,76.86,8.60,14.60,9.29,0.41,0.82,8.60,8.15,10.63,21.09,18.13
3,80.00,36.14,0.0,326.34,23.4,46.62,17.99,0.00,1.0,96.71,0.00,-2.41,294.39,2.49,4.99,57.29,80.00,100.00,32.30,0.00,0.00,301.70,39.12,0.00,5.00,52.75,66.1,91.57,55.43,14.46,16.53,26.45,6.56,57.02,17.46,19.20,-900.80,0.00,-900.80,1.79,9.32,0.00,0.00,16.31,53.21,17.38,100.00,2.99,401.0,81.70,2.33,326.34,17.46,4.54,3.71,66.71,108.36,5.03,37.30,12.05,-2.41,1.59,8.34,29.35,14.69,8.29,24.10
4,33.33,15.63,0.0,114.60,28.5,0.00,5.03,4.98,3.0,98.90,27.75,4.03,156.28,3.06,3.06,34.96,33.33,98.11,38.45,4.98,5.11,331.52,64.61,83.33,4.82,28.60,73.4,43.87,59.58,15.63,21.78,26.22,32.07,52.00,16.85,17.06,219.79,4.98,219.79,0.72,365.22,0.00,59.41,13.06,51.44,16.77,100.00,4.90,1958.0,75.42,0.50,114.60,10.73,0.79,0.73,51.96,109.75,4.49,9.97,15.63,4.03,3.98,20.39,17.74,17.67,11.07,14.97
5,20.00,8.71,0.0,338.98,39.1,0.00,10.46,0.00,3.0,98.90,0.00,1.45,350.90,10.46,4.48,102.92,20.00,96.88,12.77,14.12,0.00,198.13,24.91,0.00,6.06,28.80,73.4,21.77,47.36,11.81,10.71,23.21,21.33,66.07,7.47,15.99,632.18,0.00,632.18,0.80,81.92,0.00,0.00,17.05,46.39,12.46,100.00,8.22,669.0,75.94,1.41,338.98,8.97,3.78,4.62,35.08,110.61,4.88,16.95,7.26,1.45,4.53,22.03,22.53,23.08,23.12,40.98
6,66.67,13.39,0.0,64.44,44.1,0.00,0.00,88.89,3.0,98.90,0.00,2.23,195.31,0.00,0.00,60.96,66.67,100.00,2.94,0.00,0.00,249.98,33.18,0.00,0.00,41.51,72.1,22.32,63.00,20.67,25.00,15.00,33.33,60.00,6.74,13.71,924.10,0.00,924.10,0.55,42.22,0.00,0.00,18.36,61.04,27.05,100.00,1.57,445.0,75.12,0.00,64.44,2.25,2.21,4.25,54.25,128.19,9.32,33.33,8.93,2.23,10.03,15.05,6.97,12.43,24.00,32.79
7,66.67,12.74,0.0,215.87,40.4,31.75,18.21,0.00,1.0,96.71,0.00,12.74,196.52,0.00,0.00,24.19,66.67,98.86,57.79,0.00,0.00,359.25,63.51,0.00,14.29,52.75,71.8,12.74,59.18,18.59,17.14,22.86,27.91,60.00,12.82,15.06,-412.77,0.00,-412.77,1.07,34.92,0.00,0.00,15.27,49.82,19.64,91.67,1.60,312.0,84.13,0.00,215.87,0.00,0.43,0.39,64.19,121.94,1.79,3.17,19.11,12.74,3.93,6.95,7.96,34.07,22.87,19.61
8,59.64,23.54,0.0,360.57,45.5,11.43,6.10,14.29,1.0,96.71,0.00,3.44,200.02,11.54,4.04,222.18,60.61,95.00,59.58,5.71,11.54,301.24,43.29,0.00,3.23,52.75,59.9,33.87,57.69,17.60,22.73,15.91,5.80,61.36,5.77,15.00,134.31,11.43,134.31,0.62,0.00,0.00,0.00,17.47,53.51,17.14,100.00,6.35,1733.0,84.16,0.57,360.57,-1.15,1.46,0.13,73.85,88.82,19.96,36.58,16.07,3.44,1.55,5.86,7.37,24.61,25.27,7.25

In [9]:
from sklearn.model_selection import KFold, train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [10]:
#Preparando los dos dataset, uno con las variables/predictores y otro con la etiqueta sobre Participacion en las 
#elecciones municipales (Participativo vs NO participativo)
X = First_GDF_Predictors.values
y = Unique_Label_GDF.values

In [11]:
len(y) == len(X)

True

In [12]:
X.shape

(245, 67)

In [13]:
y.shape

(245, 1)

In [14]:
X = StandardScaler().fit_transform(X)
 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = None)
 
# Prepare cross-validation (cv)
cv = KFold(n_splits = 5, random_state = None)

# Rendimiento
p_score = lambda model, score: print('Performance of the %s model is %0.2f%%' % (model, score * 100))
 
#Clasificadores
names = [
    "Logistic Regression", "Logistic Regression with Polynomial Hypotheses",
    "Linear SVM", "RBF SVM", "Neural Net",
]
 
classifiers = [
    LogisticRegression(),
    make_pipeline(PolynomialFeatures(3), LogisticRegression()),
    SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
    MLPClassifier(alpha=1),
]

In [15]:
# iterando sobre los clasificadores
models = []
trained_classifiers = []
for name, clf in zip(names, classifiers):
    scores = []
    for train_index, test_index in cv.split(X):
        clf.fit(X_train, y_train.ravel())
        scores.append( clf.score(X_test, y_test) )
    
    min_score = min(scores)
    max_score = max(scores)
    avg_score = sum(scores) / len(scores)
    
    trained_classifiers.append(clf)
    models.append((name, min_score, max_score, avg_score))
    
fin_models = pd.DataFrame(models, columns = ['Name', 'Min Score', 'Max Score', 'Mean Score'])

/home/vant/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:564: ConvergenceWarning:

Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.

In [16]:
fin_models.sort_values(['Mean Score']).head()

,Name,Min Score,Max Score,Mean Score
3,RBF SVM,0.408163,0.408163,0.408163
1,Logistic Regression with Polynomial Hypotheses,0.755102,0.755102,0.755102
4,Neural Net,0.775510,0.816327,0.791837
2,Linear SVM,0.816327,0.816327,0.816327
0,Logistic Regression,0.836735,0.836735,0.836735

In [17]:
import os

In [18]:
import pickle
 
Logistic_Regression_poly_hipot = trained_classifiers[1]
 
data_path = os.path.join(os.getcwd(), "best-elections.pkl")
pickle.dump(Logistic_Regression_poly_hipot, open(data_path, 'wb'))

In [20]:
#Preparando los dos dataset, uno con las variables/predictores y otro con la etiqueta sobre estado de animo 
X = First_GDF_Predictors.values
y = Unique_Label_GDF_estado.values

In [31]:
X = StandardScaler().fit_transform(X)
 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = None)
 
# Prepare cross-validation (cv)
cv = KFold(n_splits = 5, random_state = None)

# Rendimiento
p_score = lambda model, score: print('Performance of the %s model is %0.2f%%' % (model, score * 100))
 
#Clasificadores
names = [
    "Logistic Regression", "Logistic Regression with Polynomial Hypotheses",
    "Linear SVM", "RBF SVM", "Neural Net",
]
 
classifiers = [
    LogisticRegression(),
    make_pipeline(PolynomialFeatures(3), LogisticRegression()),
    SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
    MLPClassifier(alpha=1),
]

In [32]:
models = []
trained_classifiers = []
for name, clf in zip(names, classifiers):
    scores = []
    for train_index, test_index in cv.split(X):
        clf.fit(X_train, y_train.ravel())
        scores.append( clf.score(X_test, y_test) )
    
    min_score = min(scores)
    max_score = max(scores)
    avg_score = sum(scores) / len(scores)
    
    trained_classifiers.append(clf)
    models.append((name, min_score, max_score, avg_score))
    
fin_models = pd.DataFrame(models, columns = ['Name', 'Min Score', 'Max Score', 'Mean Score'])

/home/vant/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:564: ConvergenceWarning:

Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.

In [23]:
fin_models.sort_values(['Mean Score']).head()

,Name,Min Score,Max Score,Mean Score
3,RBF SVM,0.591837,0.591837,0.591837
1,Logistic Regression with Polynomial Hypotheses,0.857143,0.857143,0.857143
0,Logistic Regression,0.877551,0.877551,0.877551
2,Linear SVM,0.877551,0.877551,0.877551
4,Neural Net,0.836735,0.918367,0.877551

In [25]:
#Preparando los dos dataset, uno con las variables/predictores y otro con la etiqueta sobre satisfaccion con su ocio
X = First_GDF_Predictors.values
y = Unique_Label_GDF_ocio.values

In [28]:
fin_models.sort_values(['Mean Score']).head()

,Name,Min Score,Max Score,Mean Score
3,RBF SVM,0.673469,0.673469,0.673469
2,Linear SVM,0.775510,0.775510,0.775510
1,Logistic Regression with Polynomial Hypotheses,0.795918,0.795918,0.795918
0,Logistic Regression,0.836735,0.836735,0.836735
4,Neural Net,0.836735,0.857143,0.844898

In [30]:
#Preparando los dos dataset, uno con las variables/predictores y otro con la etiqueta sobre valor de la vida
X = First_GDF_Predictors.values
y = Unique_Label_GDF_valorvida.values

In [33]:
fin_models.sort_values(['Mean Score']).head()

,Name,Min Score,Max Score,Mean Score
3,RBF SVM,0.734694,0.734694,0.734694
1,Logistic Regression with Polynomial Hypotheses,0.795918,0.795918,0.795918
0,Logistic Regression,0.816327,0.816327,0.816327
2,Linear SVM,0.816327,0.816327,0.816327
4,Neural Net,0.836735,0.857143,0.844898