In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly as py
%matplotlib inline

In [2]:
def to_float_from_str_decimal(string):
    """ It convert '12,5' to 12.5 """
    try:
        return float(string.replace(',', '.'))
    except:
        return float(string.replace('.','')[:-3])
    
to_float_from_str_decimal('1.900,00')

1900.0

In [3]:
Third_GDF = pd.read_csv('../TFM/Third_GranDataframe_predictors.csv',
                   converters={'2017_2': to_float_from_str_decimal,
                                             '2009_3': to_float_from_str_decimal,
                                             '2009_4': to_float_from_str_decimal,
                                             '2016_5': to_float_from_str_decimal,
                                             '2009_6': to_float_from_str_decimal,
                                             '2017_7': to_float_from_str_decimal,
                                             '2009_8': to_float_from_str_decimal,
                                             '2016_9': to_float_from_str_decimal,
                                             '2013_10': to_float_from_str_decimal,
                                             '2015_11': to_float_from_str_decimal,
                                             '2017_12': to_float_from_str_decimal,
                                             '2017_13': to_float_from_str_decimal,
                                             '2017_14': to_float_from_str_decimal,
                                             '2017_15': to_float_from_str_decimal,
                                             '2017_16': to_float_from_str_decimal,
                                              '2009_17': to_float_from_str_decimal,
                                             '2001': to_float_from_str_decimal,
                                             '2017_19': to_float_from_str_decimal,
                                             '2016_20': to_float_from_str_decimal,
                                             '2017_21': to_float_from_str_decimal,
                                             '2005_22': to_float_from_str_decimal,
                                             '2005_23': to_float_from_str_decimal,
                                             '2016_24': to_float_from_str_decimal,
                                             '2017_25': to_float_from_str_decimal,
                                             '2005': to_float_from_str_decimal,
                                             '2011_27': to_float_from_str_decimal,
                                             '2017_28': to_float_from_str_decimal,
                                             '2017_29': to_float_from_str_decimal,
                                             '2017_30': to_float_from_str_decimal,
                                             '2017_31': to_float_from_str_decimal,
                                             '2017_32': to_float_from_str_decimal,
                                             '2017_33': to_float_from_str_decimal,
                                             '2017_34': to_float_from_str_decimal,
                                             '2017_35': to_float_from_str_decimal,
                                             '2017_36': to_float_from_str_decimal,
                                             '2016_37': to_float_from_str_decimal,
                                             '2013_38': to_float_from_str_decimal,
                                             '2016_39': to_float_from_str_decimal,
                                             '2016_40': to_float_from_str_decimal,
                                             '2017_41': to_float_from_str_decimal,
                                             '2016_42': to_float_from_str_decimal,
                                             '2016_43': to_float_from_str_decimal,
                                             '2016_44': to_float_from_str_decimal,
                                             '2016_45': to_float_from_str_decimal,
                                             '2016_46': to_float_from_str_decimal,
                                             '2011_47': to_float_from_str_decimal,
                                             '2017_48': to_float_from_str_decimal,
                                             '2017_49': to_float_from_str_decimal,
                                             '2011_50': to_float_from_str_decimal,
                                             '2015_51': to_float_from_str_decimal,
                                             '2009_52': to_float_from_str_decimal,
                                             '2017_53': to_float_from_str_decimal,
                                             '2017_54': to_float_from_str_decimal,
                                             '2016_55': to_float_from_str_decimal,
                                             '2016_56': to_float_from_str_decimal,
                                             '2016_57': to_float_from_str_decimal,
                                             '2009_58': to_float_from_str_decimal,
                                             '2009_59': to_float_from_str_decimal,
                                             '2017_60': to_float_from_str_decimal,
                                             '2017_61': to_float_from_str_decimal,
                                             '2006': to_float_from_str_decimal,
                                             '2007': to_float_from_str_decimal,
                                             '2017': to_float_from_str_decimal,
                                             '2011_65': to_float_from_str_decimal,
                                             '2016_66': to_float_from_str_decimal,
                                             '2009_67': to_float_from_str_decimal,})
T_GDF_1 = Third_GDF.drop('Unnamed: 0', axis=1)
T_GDF_2 = T_GDF_1.drop('Municipio', axis=1)
T_GDF_3 = T_GDF_2.drop('Código municipio', axis=1)
Third_GDF_Predictors = T_GDF_3
Third_GDF_Predictors.head(9)

,2009_1,2017_2,2009_3,2009_4,2016_5,2009_6,2017_7,2009_8,2016_9,2013_10,...,2009_58,2009_59,2017_60,2017_61,2006,2007,2017,2011_65,2016_66,2009_67
0,43.75,14.08,0.0,185.36,43.9,0.00,6.35,0.00,3.0,98.90,...,8.75,10.40,9.04,2.79,0.88,12.94,5.35,13.36,12.91,8.50
1,25.00,3.07,0.0,269.94,52.0,0.00,24.52,0.00,3.0,99.18,...,103.45,92.02,3.06,-15.29,6.53,10.73,7.57,21.29,25.79,14.93
2,30.77,11.51,0.0,250.51,88.8,0.00,3.42,9.77,3.0,99.45,...,8.60,14.60,6.29,-3.35,0.82,8.60,-0.69,11.36,32.58,18.13
3,80.00,14.86,0.0,326.34,42.2,46.62,13.52,0.00,3.0,99.18,...,5.03,37.30,6.36,-4.24,1.59,8.34,27.57,16.82,12.62,24.10
4,33.33,13.08,0.0,114.60,40.9,0.00,5.29,4.98,3.0,100.00,...,4.49,9.97,10.08,0.48,3.98,20.39,13.89,22.76,15.24,14.97
5,20.00,6.46,0.0,338.98,45.3,0.00,9.16,0.00,2.0,100.00,...,4.88,16.95,6.47,2.59,4.53,22.03,21.16,8.09,26.04,40.98
6,66.67,2.12,0.0,64.44,15.9,0.00,10.65,88.89,3.0,100.00,...,9.32,33.33,10.55,-4.22,10.03,15.05,7.24,13.86,31.75,32.79
7,66.67,12.31,0.0,215.87,41.8,31.75,20.46,0.00,3.0,99.18,...,1.79,3.17,9.38,-6.25,3.93,6.95,5.96,25.15,32.96,19.61
8,59.64,17.84,0.0,360.57,45.1,11.43,5.32,14.29,3.0,99.18,...,19.96,36.58,6.30,-4.01,1.55,5.86,3.50,17.68,25.00,7.25

In [4]:
import os

In [5]:
import pickle

In [6]:
clf_loaded_1 = pickle.load(open('best-elections.pkl', 'rb'))

In [7]:
Predict_2 = clf_loaded_1.predict(Third_GDF_Predictors)
df1 = pd.DataFrame(Predict_2)
df1.columns = ['Prediction']
df1.sum()

Prediction    444
dtype: int64

In [24]:
Second_GDF_Labels = pd.read_csv('Second_GranDataframe.csv')
Real_1 = Second_GDF_Labels['2015_partic']
df2 = pd.DataFrame(Real_1)
df2.sum()

2015_partic    399
dtype: int64

In [ ]:
#89% de accuracy (399/445)

In [9]:
Third_GDF_Predictors.to_csv('DF_Predictors_2017.csv')

In [10]:
T_GDF_2.to_csv('DF_All_2017.csv')